
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Isaac Profile</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Responsive web Developer, Mobile web Developer, Web Courses, Web Speakers, Nodejs Developer, React Developer, Sveltejs Developer, Angular Developer, Vue Developer, Python Developer, Mongodb, Web Training, Web Trainer, Responsive web Designer, Bootstrap Web Design, Flat Web Templates, Responsive web template, Responsive website, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
		window.onload = (function YearIn(){
			let time = new Date().getFullYear()
			let timeSpan = document.querySelector('.time');
			timeSpan.textContent = time
			return timeSpan
		})
	</script>
	<!-- //Meta tag Keywords -->
	
	<!-- Custom-Files -->
	<link rel="stylesheet" href="css/bootstrap.css"><!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
	<link rel="stylesheet" href="css/font-awesome.min.css"><!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->
	
	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<!-- //Web-Fonts -->
	
</head>
<body>

<div class="wrap" id="home">
	<!-- header -->
	<header>
		<div class="container">
			<div class="header d-lg-flex">
				<div class="nav_section mt-lg-3">
					<nav>
						<label for="drop" class="toggle mt-lg-0 mt-sm-1"><span class="fa fa-bars" aria-hidden="true"></span></label>
						<input type="checkbox" id="drop" />
							<ul class="menu">
								<li class="active"><a href="#">Home</a></li>
								<li class=""><a href="#about">About </a></li>
								<li class=""><a href="#services">Services </a></li>
								<li class="">
								<!-- First Tier Drop Down -->
								<label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
								<a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
								<input type="checkbox" id="drop-2"/>
								<ul class="inner-dropdown">
									<li><a href="#skills">My Skills</a></li>
									<li class=""><a href="#edu-exp">Education and Experience</a></li>
								</ul>
								</li>
								<li class=""><a href="#projects">Projects</a></li>
								<li class=""><a href="#contact">Contact Me</a></li>
							</ul>
					</nav>
				</div>
				<div class="social mt-lg-3 mt-1 ml-auto">
					<ul>
						<li class="mr-sm-3 mr-2 icons"><a href="https://web.facebook.com/Isaacpro01" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
						<li class="mr-sm-3 mr-2 icons"><a href="https://www.instagram.com/isaacssemugenyi" target="_blank"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
						<li class="mr-sm-3 mr-2 icons"><a href="https://twitter.com/isaacpro01" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
						<li class=" icons"><a href="https://www.linkedin.com/in/isaac-ssemugenyi-08a50346/" target="_blank"><span class="fa fa-linkedin" aria-hidden="true"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- //header -->
	
	<!-- logo -->
	<div class="container my-lg-4 mb-4">
		<div class="logo text-center">
			<h1><a href="index.html"><span class="fa fa-diamond"></span> Isaac Profile</a></h1>
		</div>
	</div>
	<!-- //logo -->
	
	<!-- container -->
	<div class="container">
		<!-- main -->
		<div class="main">
			
			<!-- banner -->
			<section class="banner">
				<div class="col-md-12">
					<div class="banner-info">
						 <h2 class="heading-banner text-capitalize">I am<span>Web Developer.</span></h2>
						<p class="mt-3 text-justify">With 2+ years of web development experience, worked with technologies such as nodejs, css3, html5, Javascript, Git, markdown, Jquery, bootstrap among others. 
						Currently developing a CSS library with fancy buttons to skyrocket the way we design website.</p>
						<!-- <a href="#about" class="banner-button btn mt-md-5 mt-3 scroll">Read More</a> -->
					</div>
				</div>
			</section>
			<!-- //banner -->
			
			<!-- about us -->
			<section class="banner-bottom" id="about">
					<div class="inner-sec">
						<div class="row middle-grids">
							<div class="col-lg-7 advantage-grid-info">
								<div class="advantage_left">
									<h2 class="heading text-capitalize mb-4">About Me <span></span></h2>
									<h4>I am a Web Developer</h4>
									<p class="mb-4 text-justify">I have worked with teams to put IT solutions that have challenged the status quo from inception to production. I have worked with Foundry and Eseye under the Remote Monitoring Units. I am a member of the GDG - Kampala and an active contributor to the open source community.</p>
									<!-- <a href="#" class="banner-button1 btn">Download Cv</a> -->
									<a href="#contact" class="banner-button2 btn">Hire Us</a>
								</div>
							</div>
							<div class="col-lg-5 advantage-grid-info1">
								<div class="advantage_left1 mt-lg-0 mt-4">
									<img src="images/about-2.jpg" class="img-fluid img-responsive" alt="">
								</div>
							</div> 
						</div>
					</div>
			</section>
			<!-- //about us -->
			
			<!-- services -->
			<section class="services" id="services">
				<div class="inner-sec-layer">
					<h3 class="heading text-capitalize mb-md-5 mb-4">Services <span></span></h3>
					<div class="row middle-grids">
						<div class="col-lg-4 col-md-6 service-in text-center">
							<div class="card">
								<div class="card-body">
									<span class="fa fa-desktop mb-4"></span>
									<h5 class="card-title text-uppercase">Developing</h5>
									<p class="card-text">We develop website based on client's needs or we don't do it at all, we advise were needed. We also offer free consultation</p>
								</div>
							</div>
						</div>
						 <div class="col-lg-4 col-md-6 service-in text-center mt-md-0 mt-4">
							<div class="card">
								<div class="card-body">
									<span class="fa fa-pencil-square-o mb-4"></span>
									<h5 class="card-title text-uppercase">Training</h5>
									<p class="card-text">We love the young generation, we train kids in HTML, CSS, Javascript... We turn them Full-stack developers in 6 months</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 service-in text-center mt-lg-0 mt-4">
							<div class="card">
								<div class="card-body">
									<span class="fa fa-window-restore mb-4"></span>
									<h5 class="card-title text-uppercase">Responsive</h5>
									<p class="card-text">During development, we obey the mobile first rule and we turn each web app responsive to each and every device there is.</p>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</section>
			<!-- //services -->
			
			<!-- skills -->
			<section class="skills" id="skills">
				<div class="inner-sec">
					<h3 class="heading text-capitalize mb-md-5 mb-4">Our Skills <span></span></h3>
					<div class="row middle-grids">
						<div class="col-lg-6">
							<div class="skills-left">
								<p class="card-text mb-4">We believe in love, put love in everything we do, we say and act. Let us build your dream solution with love.</p>
								<h5>Web Training</h5><br>
								<!-- <p class="mb-4 bg clr-ninghty"></p> -->
								<h5>Responsive Design</h5><br>
								<!-- <p class="mb-4 bg clr-eighty-five"></p> -->
								<h5>Web Development</h5>
								<!-- <p class="mb-4 bg clr-ninghty"></p> -->
							</div>
						</div>
						<div class="col-lg-6 mt-lg-0 mt-4">
							<div class="row text-center">
								<div class="col-lg-4 col-sm-4 col-6 count-num-txt mb-4">
								  <div class="number-skills-info icon1">
									<span class="fa fa-briefcase mb-sm-4 mb-2"></span>
									<h5>2</h5>
									<h6 class="pt-2">years Experience</h6>
								  </div>
								</div>
								<div class="col-lg-4 col-sm-4 col-6 count-num-txt mb-4">
								  <div class="number-skills-info icon2">
									<span class="fa fa-clone mb-sm-4 mb-2"></span>
									<h5>3</h5>
									<h6 class="pt-2">Projects</h6>
								  </div>
								</div>
								<div class="col-lg-4 col-sm-4 col-6 count-num-txt mb-4">
								  <div class="number-skills-info icon3">
									<span class="fa fa-trophy mb-sm-4 mb-2"></span>
									<h5>No</h5>
									<h6 class="pt-2">Awards Yet</h6>
								  </div>
								</div>
							</div>
							<p class="">We believe in the best, do you? if so then try us out and trust us with your online life. We commit to deliver the unthinkable.</p>
					  </div>
						
						
					</div>
				</div>
			</section>
			<!-- //skills -->
			
			<!-- Projects -->
			<section class="projects" id="projects">
				<div class="inner-sec">
					<h3 class="heading text-capitalize mb-md-5 mb-4">projects <span></span></h3>
					<div class="row news-grids text-center">
						<div class="col-md-3 col-6 gal-img">
							<a href="#gal1"><img src="images/site-1.jpg" alt="news image" class="img-fluid"></a>
						</div>
						<div class="col-md-3 col-6 gal-img">
							<a href="#gal1"><img src="images/site-2.jpg" alt="news image" class="img-fluid"></a>
						</div>
						<div class="col-md-3 col-6 gal-img">
							<a href="#gal1"><img src="images/site-3.jpg" alt="news image" class="img-fluid"></a>
						</div>
					</div>
                </div>
            </section>
			<!-- //Projects -->

			<!-- tabs -->
			<section class="edu-exp" id="edu-exp">
				<div class="inner-sec">
					<h3 class="heading text-capitalize mb-md-5 mb-4">Education and Experience <span></span></h3>
					<div class="edu-exp-grids">
						<div class="tab-main text-center">
							<input id="tab1" type="radio" name="tabs" class="tabs-sm" checked>
							<label for="tab1"><span class="fa fa-graduation-cap" aria-hidden="true"></span>Education</label>
							<input id="tab2" type="radio" class="tabs-sm" name="tabs">
							<label for="tab2"><span class="fa fa-briefcase" aria-hidden="true"></span>Experience</label>
							<section id="content1">
								<div class="row text-left">
									<div class="col-lg-6 inner-tab-wrap">
										<h4>Mongodb University</h4>
										<h6>- Mongodb Basics - 2019</h6>
										<p>Acquired a certificate of completion in Mongodb basics by Shannon.</p>
									</div>
									<div class="col-lg-6 inner-tab-wrap">
										<h4>Web design for Web developers</h4>
										<h6>- Udemy online course - 2019</h6>
										<p>Acquired a certificate of completion in web design by Jonas.</p>
									</div>
									<div class="col-lg-6 inner-tab-wrap">
										<h4>Javascript course 2019</h4>
										<h6>- Udemy online course - 2019</h6>
										<p>Acquired a certificate of completion in Javascript by Jonas.</p>
									</div>
									<div class="col-lg-6 inner-tab-wrap">
										<h4>Kabale University - 2014</h4>
										<h6>- Diploma in Electrical Engineering</h6>
										<p>Was awarded a diploma in Electrical Engineering with 4.55 GPA.</p>
									</div>
								</div>
							</section>
							<section id="content2">
								<div class="row text-left">
									<div class="col-lg-6 inner-tab-wrap">
										<h4>Solar Electrician</h4>
										<h6>- 2015-2018 at SolarNow-Luweero</h6>
										<p>Responsible for doing solar installations for clients on a daily basis for purely DC, AC and Hybrid systems.</p>
									</div>
									<div class="col-lg-6 inner-tab-wrap">
										<h4>Product Management Officer</h4>
										<h6> - 2018-Present at SolarNow-Kampala</h6>
										<p class="text-justify">Test new solar products and intervene on field existing products, draft test reports and monitor field solar system performance using Remote Monitoring Units through Foundry</p>
									</div>
									<div class="col-lg-6 inner-tab-wrap">
										<h4>Frelancer Web Developer</h4>
										<h6> - 2018-Present to interested clients</h6>
										<p>Develop static and basic dynamic websites using nodejs, javascript, html and css.</p>
									</div>
									<div class="col-lg-6 inner-tab-wrap">
										
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
			<!-- tabs -->
		</div>
		<!-- //main -->
		
		<!-- contact -->
		<section class="contact" id="contact">
			<div class="inner-sec">
				<h3 class="heading text-capitalize mb-4">Get In Touch <span></span></h3>
				<!-- add a route to database -->
				<form class="contact-form" action="/contact" method="post">
					<div class="row">
						<div class="col-md-6 con-gd">
							<div class="form-group">
								<p>Name *</p>
								<input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="_name" required>
							</div>
							<div class="form-group">
								<p>Email *</p>
								<input type="email" class="form-control" id="email" placeholder="Enter Your Email Id" name="_email" required>
							</div>

						</div>
						<div class="col-md-6 con-gd">
							<div class="form-group">
								<p>Send a Message *</p>
								<textarea name="_message" class="form-control" placeholder="Enter Your Message" required></textarea>
							</div>

						</div>
					</div>
					<div class="form-group mb-0">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</form>
			</div>
		</section>
		<!-- contact -->
	</div>
	<!-- //container -->
	
	<!-- footer -->
	<div class="container">
	<footer class="footer-section">
		<div class="copy-right-top border-top">
			<p class="copy-right text-center text-white py-4">&copy; 2019 - <span class="time"></span> Orlin Co. All Rights Reserved.</p>
		</div>
	</footer>
	</div>
	<!-- //footer -->
	
	<!-- move top -->
	<div class="move-top text-right">
		<a href="#home" class="move-top"> 
			<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
		</a>
	</div>
	<!-- move top -->

</div>	

</body>
</html>
